<section class="phx-hero">
  <h1>Welcome on the cat and dog tracking site!</h1>

  <p>Please <a href="/login" class="link-button"><%= gettext "Login" %></a> or <a href="/users/new" class="link-button"><%= gettext "Signup" %></a>!</p>
  
</section>

<section class="row">

</section>
